body{
    max-width: 1440px;
    min-width: 320px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}
.h1,
h1{
    font-size: 60px;
    font-weight: bold;
}
.h6{
    font-size: 30px;
    font-weight: 600;
}
.sbscribe-card {
    background-color: #EC615B;
}
.header__button-title,
.sbscribe__button-title{
    background-color: #5222D0;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    font-size: 13px;
    padding: 14px 33px 11px 16px;
}
.main__info-button{
    background-color: #5222D0;
    color: white;
    font-weight: bold;
    border-radius: 100px;
    font-size: 35px;
    padding: 28px 90px 21px 33px;
}

